<!-- Sign In Option 1 -->
<div id="sign_up1" style="margin-bottom:0px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 header">
                <h4>Crie sua conta</h4>

            </div>

            <div id="sign_up2">
                <div class="container">
                    <div class="row login">
                        <div class="col-sm-10 signin_box" style="float:none">
                            <div class="box">
                                <div class="box_cont">

                                    <div class="form">

                                        <form>
                                            <input type="text" placeholder="Nome" class="form-control">
                                            <input type="text" placeholder="Sobrenome" class="form-control">
                                            <input type="text" placeholder="E-mail" class="form-control">
                                            <input type="text" placeholder="Confirmar e-mail" class="form-control">
                                            <input type="text" placeholder="Senha" class="form-control">
                                            <input type="text" placeholder="Confirmar senha" class="form-control">
                                            <input type="text" placeholder="Empresa" class="form-control">
                                            <div class="forgot">
                                                <span>Já é cadastrado?</span>
                                                <a href="http://cleancanvas.herokuapp.com/sign-in.html">Login</a>
                                            </div>
                                            <input type="submit" value="CADASTRAR">
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
</div>