<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Business Template</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Styles -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/bootstrap-overrides.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="assets/theme.css">
    
    <link href="assets/css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="assets/sign-up.css" type="text/css" media="screen">
    <link rel="stylesheet" type="text/css" href="assets/animate.css" media="screen, projection">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body style="padding-top: 0px;">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><strong>POLIMETRICS</strong></a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">HOME</a></li>
                    <li><a href="sobre">SOBRE</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#features">Features</a></li>
                            <li><a href="#showcase">Services</a></li>
                        </ul>
                    </li>
                    <li><a href="#in_pricing">PLANOS</a></li>
                    <li><a href="contato">CONTATO</a></li>
                    <li class="active"><a href="cadastro">Cadastre-se</a></li>
                    <li><a href="login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Sign In Option 1 -->
    <div id="sign_up1" style="margin-bottom:0px">
        <div class="container">
            <div class="row">
                <div class="col-md-12 header">
                    <h4>Crie sua conta</h4>

                </div>

                <div id="sign_up2">
                    <div class="container">
                        <div class="row login">
                            <div class="col-sm-10 signin_box" style="float:none">
                                <div class="box">
                                    <div class="box_cont">

                                        <div class="form">

                                            <form>
                                                <input type="text" placeholder="Nome" class="form-control">
                                                <input type="text" placeholder="Sobrenome" class="form-control">
                                                <input type="text" placeholder="E-mail" class="form-control">
                                                <input type="text" placeholder="Confirmar e-mail" class="form-control">
                                                <input type="text" placeholder="Senha" class="form-control">
                                                <input type="text" placeholder="Confirmar senha" class="form-control">
                                                <input type="text" placeholder="Empresa" class="form-control">
                                                <div class="forgot">
                                                    <span>Já é cadastrado?</span>
                                                    <a href="http://cleancanvas.herokuapp.com/sign-in.html">Login</a>
                                                </div>
                                                <input type="submit" value="CADASTRAR">
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </div>

    <!-- starts footer -->
    <footer id="footer" style="margin-top:0px">
        <div class="container">
            <div class="row info">

            </div>
        </div>
    </footer>

    <script src="./Business Template_files/jquery-latest.js"></script>
    <script src="./Business Template_files/bootstrap.min.js"></script>
    <script src="./Business Template_files/theme.js"></script>

</body></html>