<section id="feature_slider" class="">
    <article class="slide active" id="tour" style="background-image: url(assets/index/1474734.jpg); display: block; background-position: 50% 50%; background-repeat: repeat no-repeat;">
        <img class="asset left-472 sp650 t210 z3" src="assets/index/pentaho.png" style="width:550px; left: 300px; top: 40px; z-index: 3; display: inline;">
        <img class="asset left-365 sp600 t270 z4" src="assets/index/mysql.png" style="width:220px; left: 586.5px; top: 240px; z-index: 4; display: inline;">
        <img class="asset left-350 sp450 t135 z2" src="assets/index/analytics.png" style="width:300px; left: 800.5px; top: 40px; z-index: 2; display: inline;">
        <div class="info" style="display: block;">
            <h2>Solução completa de BI para e-commerce</h2>
            <a href="http://cleancanvas.herokuapp.com/features.html">CONHEÇA NOSSOS SERVIÇOS</a>
        </div>
    </article>
<a href="" id="slide-left" style="display: inline;"></a>
<a href="" id="slide-right" style="display: inline;"></a></section>

<div id="showcase">
    <div class="container">
        <div class="section_header">
            <h3>Nossos serviços</h3>
        </div>            
        <div class="row feature_wrapper">
            <!-- Features Row -->
            <div class="features_op1_row">
                <!-- Feature -->
                <div class="col-sm-4 feature first">
                    <div class="img_box">
                        <a href="#showcase">
                            <img src="assets/index/etl.png">
                            <span class="circle"> 
                                <span class="plus">+</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h6>ETL</h6>
                        <p>
                           Operação de extração de dados pouco invasiva na sua base de dados e no Google Analytics no horário de sua preferência.
                        </p>
                    </div>
                </div>
                <!-- Feature -->
                <div class="col-sm-4 feature">
                    <div class="img_box">
                        <a href="#showcase">
                            <img src="assets/index/chart.png">
                            <span class="circle"> 
                                <span class="plus">+</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h6>KPIs</h6>
                        <p>
                            Cálculo dos principais indicadores de desempenho utilizados no comércio eletrônico.
                        </p>
                    </div>
                </div>
                <!-- Feature -->
                <div class="col-sm-4 feature last">
                    <div class="img_box">
                        <a href="#showcase">
                            <img src="assets/index/dashboards.png">
                            <span class="circle"> 
                                <span class="plus">+</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h6>Dashboards customizáveis</h6>
                        <p>
                            Ferramentas de visualização intuitivas e personalizáveis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--     <div id="features">
    <div class="container">
        <div class="section_header">
            <h3>Features</h3>
        </div> 
        <div class="row feature">
            <div class="col-sm-6">
                <img src="assets/index/showcase1.png" class="img-responsive">
            </div>
            <div class="col-sm-6 info">
                <h3>
                    <img src="assets/index/features-ico1.png">
                    Feature #1
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet lorem molestie, sollicitudin massa feugiat, sagittis sem. Suspendisse aliquam metus ante, ac feugiat felis pellentesque a. Morbi vel facilisis magna, vestibulum luctus neque. Vivamus sit amet diam libero. Pellentesque.
                </p>
            </div>
        </div>
    </div>
</div> -->


<!-- Pricing Option -->
<div id="in_pricing">
    <div class="container">
        <div class="section_header">
            <h3>Planos</h3>
        </div>

        <div class="row charts_wrapp">
            <!-- Plan Box -->
            <div class="col-sm-4 pro">
                <div class="plan">
                    <div class="wrapper">
                        <img class="ribbon" src="assets/index/badge.png">
                        <h3>Beta</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">Grátis</span> 
                            <span class="month"></span>
                        </div>
                        <div class="features">
                            <p>
                                Dashboards
                                <strong>Ilimitados</strong>
                            </p>
                            <p>
                                Armazenamento
                                <strong>Ilimitado</strong>
                            </p>
                            <p>
                                Suporte
                                <strong>Ilimitado</strong>
                            </p>
                        </div>
                        <a class="order" href="#in_pricing">ASSINE AGORA</a>
                    </div>
                </div>
            </div>
        <div class="start">
            <p>Participe do teste beta! </p>
            <a href="#in_pricing">Inscreva-se</a>
        </div>
    </div>
</div>

<div id="clients">
    <div class="container">
        <div class="section_header">
            <h3>Clientes</h3>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-4 client">
                <div class="img client1"></div>
            </div>
            <div class="col-md-2 col-sm-4 client">
                <div class="img client2"></div>
            </div>
            <div class="col-md-2 col-sm-4 client">
                <div class="img client3"></div>
            </div>
            <div class="col-md-2 col-sm-4 client">
                <div class="img client1"></div>
            </div>
            <div class="col-md-2 col-sm-4 client">
                <div class="img client2"></div>
            </div>
            <div class="col-md-2 col-sm-4 client">
                <div class="img client3"></div>
            </div>
        </div>
    </div>
</div>